@tailwind base;
@tailwind components;
@tailwind utilities;

.device {
  @apply flex items-center rounded-md py-5 px-5 gap-4 border border-solid border-border-primary;
}

.device:hover .deviceButton {
  @apply visible;
}

.deviceButton {
  @apply bg-primary py-1.5 px-4 text-sm font-medium invisible border border-solid border-primary;
}

.statusIndicator {
  -webkit-appearance: none;
  transition: 0.1s;
  @apply bg-offline-status-color text-center rounded-full outline-none w-1.5 h-1.5;
}

button:hover {
  @apply opacity-75;
}
